h1 {
	font-family: sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
	color: blue;
}

.entry-details {
	text-align: center;
}

time:before {
	content: "\2027";
	padding-right: 5px;
}

span a {
	font-weight: bold;
}

.entry-metaoptional-break a {
	text-align: center;
}

.entry-metaoptional-break {
	text-align: center;
	font-size: 14px;
}
.main-content a {
	text-decoration: none;
	font-weight: bold;

}

div p:first-of-type {
	font-size: 20px;
	word-wrap: break-word;
}
div p {
	word-wrap: break-word;
	padding-left: 50px;
	padding-right: 50px;
}

div ol {
	padding-left: 90px;
}

h2 {
	color: #b81d1d;
	font-family: sans-serif;
	padding-left: 50px;
}

h3 {
	font-family: sans-serif;
	padding-left: 50px;
}

ul a {
	color: blue;
	padding-left: 0;
}
div ul {
	padding-left: 100px;

}

figcaption a {
	font-size: 12px;
	font-style: italic;
}
 figcaption {
 	font-size: 12px;
 	font-style: italic;
 	padding-left: 15px;
 }
