h1 {
	text-align: center;
	font-size: 28px;
	font-family: arial;
}

time:before {
	content: "\2022";
	padding-right: 5px;
}

span a {
	color: blue;
	text-decoration: none;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
}
header p {
	text-align: center;
	font-size: 14px;
	font-family: arial;
}
.sp1, .sp2 {
	color: blue;
	text-decoration: none;
	font-size: 13px;
}

div p{
	font-family: serif;
	text-indent: inherit;
	padding-left: 100px;
}

#dp1 {
	font-size: 24px;
	font-weight: bold;
}

#dpa, #gf, #dppa, #yd, #tw, #tmp, #ssr, #me, #bs, #gt, #av, #mee, #iv, #ow, #dz, #itb, #ta, #hc, #os, #fl, #gpsi, #my,
#ss, #fsp, #hdpf, #exc, #vtw, #ns, #fd, #ay {
	color: blue;
	text-decoration: none;
}

ol li {
	list-style-position: inside;
	padding-left: 100px;
}

h2 {
	text-indent: inherit;
	padding-left: 100px;
	font-size: 24px;
	color: red;
}

h3 {
	padding-left: 100px;
	text-indent: inherit;
	font-size: 17px;
	font-weight: bold;
}
.cu {
	text-indent: inherit;
	padding-left: 175px;
}

li a {
	text-decoration: none;
	color: black;
}

blockquote {
	padding-left: 50px;
}

figcaption {
	font-style: italic;
	font-size: 14px;
	padding-left: 90px;
}
